.noborder {
  padding: 0px !important;
  border: none !important;
  outline: none !important;
}

.highlighted-input {
  background: transparent !important;
}

.highlighted-input:not([disabled]) {
  cursor: text;
}

.highlighted-input:not([disabled]):hover, .highlighted-input:not([disabled]):focus {
  background: rgb(240, 240, 240) !important;
}